@import "bootstrap";
$xam : #6c6f73;
html{
  @include size(100%);
}
body{
  @extend html;
  text-rendering: optimizeLegibility;
  color: $xam;
}

#logo{
  height: 26px;
}
h1, h2, h3, h4, h5{
  color: $xam;
}
h6{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  width: 100%;
  height: auto;
}
img{
  @include img-fluid;
}
.navbar{
  position: fixed;
  z-index: 1080;
}
.blockquote{
  @extend h1;
  font-size: 1.6rem;
  border: none;
  padding: 0;
  width: 100%;
}
.blockquote-footer{
  margin: 1rem 0 0;
}
#stage{
  background: url("../img/stage.jpg") center center no-repeat;
  background-size: cover;
  color: white;
  @extend html;
}
#stage-caption{
  font-size: 1.4rem;
  font-weight: 200;
  max-width: 60rem;
  margin: 0 auto;
  h1{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }
}
#feature-one{
  iframe{
    @include size(100%, 315px)
  }
}
.feature-content{
  padding: 8rem 0;
  overflow: hidden;
  img{
    margin-bottom: -8rem;
  }
}
.feature-dark{
  background: #262f36;
  color: white;
  h2{
    color: white;
  }
}
.feature-alt{
  background: #f0f0f0;
}
#feature-four{
  .feature-content{
    padding: 0;
  }
}
#feature-five{
  img{
    margin-top:2rem;
    @include size(100%);
  }
}
#main-footer{
  background: #262f36;
  color: white;
  padding: 6rem 0;
  font-size: 0.8rem;
  h6{
    color: #718fa9;
  }
  a{
    color: #6c5f73;
  }
}